* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body h1,
body h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}

body p,
body span {
  font-size: 18px;
  line-height: 27px;
  font-family: "Roboto Mono", monospace;
}

body a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}

body main {
  padding: 100px 0 0;
}

.__wrap {
  width: 1200px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #131416;
  height: 130px;
}

.header .__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .__wrap nav {
  font-size: 18px;
  line-height: 27px;
}

.header .__wrap nav a {
  color: #131416;
  font-weight: 700;
}

.header .__wrap nav a:nth-of-type(2) {
  margin: 0 20px;
}

.header .__wrap nav a:hover {
  color: #ffb803;
}

footer {
  background: #131416;
  padding: 0px 0 50px;
  color: #616263;
  font-size: 14px;
}

footer .__wrap {
  border-top: 1px solid #212326;
  padding-top: 50px;
  text-align: center;
}

.about-me {
  color: #131416;
  font-weight: 300;
  text-align: center;
  padding-bottom: 50px;
}

.formation {
  background: #131416;
  height: auto;
  padding: 50px 0;
}

.formation .__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formation .__wrap .title {
  position: relative;
}

.formation .__wrap .title h1 {
  color: #212326;
  font-size: 200px;
  line-height: 220px;
  position: relative;
  z-index: 2;
}

.formation .__wrap .title span {
  color: #ffb803;
  font-size: 220px;
  font-weight: 700;
}

.formation .__wrap .title span:nth-of-type(1) {
  position: absolute;
  top: 20px;
  z-index: 0;
  right: 400px;
}

.formation .__wrap .title span:nth-of-type(2) {
  position: absolute;
  bottom: 130px;
  z-index: 0;
  left: 370px;
}

.formation .__wrap .content {
  margin-right: 70px;
}

.formation .__wrap .content .title {
  text-transform: uppercase;
  color: #a0a0a0;
  font-family: "Fire Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.formation .__wrap .content .box .graduation,
.formation .__wrap .content .courses,
.formation .__wrap .content .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.formation .__wrap .content .box {
  position: relative;
}

.formation .__wrap .content .box::before {
  content: url("../../../images/graduation.svg");
  position: absolute;
  right: 310px;
  top: 20px;
}

.formation .__wrap .content .box .graduation {
  border: 2px solid #a0a0a0;
  border-radius: 10px;
  padding: 20px 30px;
}

.formation .__wrap .content .box .graduation span:nth-of-type(2) {
  width: 230px;
  margin-block: 10px;
  font-weight: 700;
}

.formation .__wrap .content .box .graduation span:last-child {
  color: #a0a0a0;
  font-weight: 700;
  font-family: "Fire Sans", sans-serif;
}

.formation .__wrap .content .courses {
  margin-block: 70px;
  position: relative;
  gap: 10px;
}

.formation .__wrap .content .courses::before {
  content: url("../../../images/course.svg");
  position: absolute;
  right: 310px;
}

.formation .__wrap .content .courses .c span:last-child {
  color: #a0a0a0;
}

.formation .__wrap .content .language {
  position: relative;
  gap: 10px;
}

.formation .__wrap .content .language::before {
  content: url("../../../images/lang.svg");
  right: 310px;
  position: absolute;
}

.formation .__wrap .content .language .idioma span {
  color: #a0a0a0;
}

.formation .__wrap .content .language .idioma span:first-child {
  color: #fff;
}

.experience {
  padding: 50px 0;
}

.experience .__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience .__wrap h2 {
  color: #a0a0a0;
  font-size: 200px;
  line-height: 220px;
}

.experience .__wrap .content {
  margin-right: 70px;
}

.experience .__wrap .content .professional h3 {
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #131416;
  font-family: "Fire Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.experience .__wrap .content .professional .box span {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #a0a0a0;
}

.experience .__wrap .content .professional .box .prof {
  background: #c4c4c4;
  border-radius: 10px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  margin-top: 10px;
}

.experience .__wrap .content .professional .box .prof span {
  color: #131416;
  font-weight: 700;
  font-size: 18px;
}

.experience .__wrap .content .professional .box:nth-of-type(2) {
  margin-block: 30px;
}

.contact {
  padding: 50px 0;
  background: #131416;
}

.contact .__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .__wrap h2 {
  color: #212326;
  font-size: 180px;
  line-height: 200px;
}

.contact .__wrap .title {
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Fire Sans", sans-serif;
  color: #a0a0a0;
}

.contact .__wrap .cont a {
  color: #fff;
  font-size: 18px;
}

.contact .__wrap .cont a:hover {
  text-decoration: underline;
}

.contact .__wrap .cont .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .__wrap .cont .box:nth-of-type(1) span {
  position: relative;
}

.contact .__wrap .cont .box:nth-of-type(1) span::before {
  content: url("../../../images/whats.svg");
  position: absolute;
  right: 370px;
}

.contact .__wrap .cont .box:nth-of-type(2) {
  margin-top: 20px;
}

.contact .__wrap .cont .box:nth-of-type(2) span {
  position: relative;
}

.contact .__wrap .cont .box:nth-of-type(2) span::before {
  content: url("../../../images/letter.svg");
  position: absolute;
  right: 370px;
}
/*# sourceMappingURL=main.css.map */