extends ../template

block vars
   - title = 'alves_phga | Dev Front-end & UI Designer'
   - page = 'home'

   block metadesc
      meta(name="description", content= 'Desenvolvedor Front-end e Design UI')

block content
   include ..\includes\home\subheader
   include ..\includes\home\skills-section
   include ..\includes\home\work-section
   include ..\includes\home\projects-section
   include ..\includes\home\contact-section
   
   //- include ..\includes\global\modal
