extends ../template

block vars
   - title = 'alves_phga | Dev Front-end & UI Designer'
   - page = 'home'

block content
   include ..\includes\home\subheader
   include ..\includes\home\work-section
   include ..\includes\home\projects-section
   include ..\includes\home\contact-section