.__width-1200 {
   width: 1200px;
   position: relative;
   margin: 0 auto;

   @include mobile_s {
      width: 100%;
      padding: 0 0.9375rem;
   }

   @include mobile_m {
      width: 100%;
      padding: 0 0.9375rem;
   }

   @include mobile_l {
      width: 100%;
      padding: 0 0.9375rem;
   }
}

.border-detail {
   background: var(--color-topaz);
   height: 0.0625rem;
   width: 45rem;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);

   @include mobile_s {
      width: 100%;
   }

   @include mobile_m {
      width: 100%;
   }

   @include mobile_l {
      width: 100%;
   }
}
