$color_link_icon_nav: #fec684;
$color_text_prim: #fff;
$color_text_sec: #222033;
$color_title_prim: #ff9b59;
$color_title_sec: #1c1a2d;

$color_others_prim: #ffdf9d;
$color_others_sec: #aaa8bb;

$color_hover_prim: #cc4b09;

$color_back_close_content_modal: 181625;
