// colors
$c_topaz: #fec684;
$c_white: #fff;
$c_dark_gunmetal: #222033; // #1c1a2d
$c_onix: #343245;
$c_atomic_tangerine: #ff9b59;
$c_caramel: #ffdf9d;
$c_cadet_blue: #aaa8bb;
$c_sinopia: #cc4b09;
$c_eerie_black: #181625;

// measurements
$meas: (
   // 4px
   'four': 0.25rem,
   // 8px
   'eight': 0.5rem,
   // 16px
   'sixteen': 1rem,
   // 32px
   'thirty-two': 2rem,
   // 64px
   'sexty-four': 4rem,
   // 128px
   'one-hund-twenty-eight': 8rem
);

// Font size
$f-size: (
   // 16px
   'sixteen': 1rem,
   // 20px
   'twenty': 1.25rem,
   // 24px
   'twenty-four': 1.5rem,
   // 28px
   'twenty-eight': 1.75rem,
   // 32px
   'thirdy-two': 2rem,
   // 36px
   'thirdy-six': 2.25rem,
   // 40px
   'fourty': 2.5rem,
   // 52px
   'fivety-two': 3.25rem,
   // 60px
   'sixty': 3.75rem
);
