.contact-section {
   padding: 5rem 0;
   background: $color_title_sec;
   position: relative;

   .box-title {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      justify-content: center;

      .title {
         @include rubik($color: $color_title_prim, $fontSize: 3.5rem);
         text-align: center;
         position: relative;
      }

      .detail {
         background: url('../../../images/jpg/details01-desktop.png') no-repeat;
         height: 1rem;
         width: 168px;
      }
   }

   .contacts {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      margin-top: 2.5rem;

      .contact {
         width: fit-content;
         display: flex;
         align-items: center;
         gap: 1.25rem;
         justify-content: center;
         transition: all 0.5s ease;

         span {
            @include comfortaa(
               $color: $color_others_prim,
               $font-size: 3.25rem,
               $font-weight: normal
            );

            height: fit-content;
         }

         &:hover {
            svg {
               path {
                  fill: $color_hover_prim;
               }
            }

            span {
               color: $color_hover_prim;
            }
         }
      }
   }
}
