.contact-section {
   padding: 5rem 0;
   background: $color_title_sec;

   .box-title {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      justify-content: center;

      .title {
         @include rubik($color: $color_title_prim, $fontSize: 3.5rem);
         text-align: center;
         position: relative;
      }

      .detail {
         background: url('../../../images/jpg/details01-desktop.png') no-repeat;
         height: 1rem;
         width: 168px;
      }
   }
}
