.contact-section {
   padding: 5rem 0;
   background: $color_title_sec;
   position: relative;

   @include mobile_s {
      padding: 2rem 0;
   }

   @include mobile_m {
      padding: 2rem 0;
   }

   @include mobile_l {
      padding: 2rem 0;
   }

   .box-title {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      justify-content: center;

      .title {
         @include rubik($color: $color_title_prim, $fontSize: 3.5rem);
         text-align: center;
         position: relative;

         @include mobile_s {
            font-size: 2.5rem;
         }

         @include mobile_m {
            font-size: 2.5rem;
         }

         @include mobile_l {
            font-size: 2.5rem;
         }
      }

      .detail {
         background: url('../../../images/jpg/details01-desktop.png') no-repeat;
         height: 1rem;
         width: 168px;

         @include mobile_s {
            display: none;
         }

         @include mobile_m {
            display: none;
         }

         @include mobile_l {
            display: none;
         }
      }
   }

   .contacts {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      margin-top: 2.5rem;

      @include mobile_s {
         gap: 1.75rem;
         margin-top: 1rem;
      }

      @include mobile_m {
         gap: 1rem;
         margin-top: 1rem;
      }

      @include mobile_l {
         gap: 1rem;
         margin-top: 1rem;
      }

      .contact {
         width: fit-content;
         display: flex;
         align-items: center;
         gap: 1.25rem;
         justify-content: center;
         transition: all 0.5s ease;

         @include mobile_s {
            flex-direction: column;
            gap: 1rem;
         }

         @include mobile_m {
            flex-direction: column;
         }

         @include mobile_l {
            flex-direction: column;
         }

         svg {
            @include mobile_s {
               width: 40px;
               height: 40px;
            }

            @include mobile_m {
               padding: 2rem 0;
            }

            @include mobile_l {
               padding: 2rem 0;
            }
         }

         span {
            @include comfortaa(
               $color: $color_others_prim,
               $font-size: 3.25rem,
               $font-weight: normal
            );
            height: fit-content;

            @include mobile_s {
               font-size: 1rem;
            }

            @include mobile_m {
               font-size: 1rem;
            }

            @include mobile_l {
               font-size: 1rem;
            }
         }

         &:hover {
            svg {
               path {
                  fill: $color_hover_prim;
               }
            }

            span {
               color: $color_hover_prim;
            }
         }
      }
   }
}
