.projects {
   background: url('../../../images/jpg/back-proj-desktop.jpg') center no-repeat;
   background-size: cover;
   border-bottom: solid 0.0625rem var(--color-atomic_tangerine);
   padding: 5rem 0;

   @include mobile_s {
      padding: var(--meas-thirty-two) 0;
   }

   @include mobile_m {
      padding: var(--meas-thirty-two) 0;
   }

   @include mobile_l {
      padding: var(--meas-thirty-two) 0;
   }

   .projects__title {
      @include rubik($color: var(--color-atomic_tangerine), $fontSize: 3.75rem);
      text-align: center;
      margin-bottom: 2.5rem;
      opacity: 0.7;

      @include mobile_s {
         font-size: var(--fsize-fourty);
         margin-bottom: 1.5rem;
      }

      @include mobile_m {
         font-size: var(--fsize-fourty);
         margin-bottom: 1.5rem;
      }

      @include mobile_l {
         font-size: 2.75rem;
         margin-bottom: 1.5rem;
      }

      &.anima-title {
         opacity: 1;
      }
   }

   .sub__title {
      @include rubik($color: var(--color-caramel), $fontSize: 2.5rem);
      text-align: center;
      margin-bottom: var(--meas-twenty);
      opacity: 0.7;

      @include mobile_s {
         font-size: var(--fsize-twenty-eight);
         margin-bottom: var(--meas-sixteen);
      }

      @include mobile_m {
         font-size: var(--fsize-twenty-eight);
         margin-bottom: var(--meas-sixteen);
      }

      @include mobile_l {
         font-size: var(--fsize-twenty-eight);
         margin-bottom: var(--meas-sixteen);
      }

      &.anima-title {
         opacity: 1;
      }
   }

   .front__end {
      position: relative;
      padding-bottom: var(--meas-thirty-two);
   }

   .ui__design {
      margin-top: var(--meas-twenty);

      .cards .card__item .card__links {
         justify-content: center;
      }
   }

   .cards {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      gap: var(--meas-twenty);

      padding: 0.75rem 0;
      overflow: hidden;

      @include mobile_s {
         flex-wrap: wrap;
      }

      @include mobile_m {
         flex-wrap: wrap;
      }

      @include mobile_l {
         flex-wrap: wrap;
      }

      .card__detail {
         width: 0.0625rem;
         height: 13.5rem;
         background: var(--color-topaz);
         opacity: 0.18;
      }
   }
}
