.skills-section {
   position: relative;
   padding: 2.5rem 0 5rem;
   border-bottom: 0.0625rem solid $color_others_sec;

   .back-section {
      position: absolute;
      top: 0;
      height: 15rem;
      background: $color_title_sec;
      width: 100%;
   }

   .box-title {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      justify-content: center;

      .title {
         @include rubik($color: $color_title_prim, $fontSize: 3.5rem);
         text-align: center;
         position: relative;
      }

      .detail {
         background: url('../../../images/jpg/details01-desktop.png') no-repeat;
         height: 1rem;
         width: 168px;
      }
   }

   .box-skills {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      gap: 1.25rem;
      margin-top: 2.5rem;

      .card {
         width: 160px;
         height: 160px;
         border-radius: 0.3125rem;
         border: 0.0625rem solid $color_title_sec;

         &:nth-child(1) {
            background: url('../../../images/webp/wordpress.webp') no-repeat
               center;
            background-size: cover;
         }

         &:nth-child(2) {
            background: url('../../../images/webp/sass.webp') no-repeat center;
            background-size: 100% 100%;
         }

         &:nth-child(3) {
            background: url('../../../images/webp/javascript.webp') no-repeat
               center;
            background-size: 100% 100%;
         }

         &:nth-child(4) {
            background: url('../../../images/webp/stylus.webp') no-repeat center;
            background-size: cover;
         }

         &:nth-child(5) {
            background: url('../../../images/webp/figma.webp') no-repeat center;
            background-size: cover;
         }
      }
   }
}
