.subheader {
   background: url('../../../images/jpg/back-topo-desktop.jpg') center no-repeat;
   height: 30.375rem;
   background-size: cover;
   margin-top: -132px;
   position: relative;
   display: flex;
   // padding-bottom: 5rem;

   @include mobile_s {
      margin-top: -6.5rem;
      padding-bottom: 1.5rem;
      height: 31.75rem;
      background: url('../../../images/jpg/background-topo-mobile.jpg') center
         no-repeat;
   }

   @include mobile_m {
      height: 38rem;
      margin-top: -6.5rem;
      padding-bottom: 1.5rem;
      background: url('../../../images/jpg/background-topo-mobile.jpg') center
         no-repeat;
   }

   @include mobile_l {
      margin-top: -7.5rem;
      padding-bottom: 1.5rem;
      height: 38rem;
      background: url('../../../images/jpg/background-topo-mobile.jpg') center
         no-repeat;
   }

   .__width-1200 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 7rem;
   }

   .subheader__description {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;

      @include mobile_s {
         flex-direction: column;
      }

      @include mobile_m {
         flex-direction: column;
      }

      @include mobile_l {
         flex-direction: column;
      }

      .subheader__title {
         @include rubik(
            $color: var(--color-atomic_tangerine),
            $fontSize: 3.75rem
         );

         @include mobile_s {
            font-size: var(--fsize-thirdy-two);
            margin-bottom: var(--meas-twenty);
            position: relative;

            &::before {
               position: absolute;
               content: '';
               background-color: var(--color-atomic_tangerine);
               height: 0.1575rem;
               width: 3rem;
               top: 2.25rem;
               left: 50%;
               transform: translateX(-50%);
            }
         }

         @include mobile_m {
            font-size: var(--fsize-thirdy-two);
            margin-bottom: var(--meas-twenty);
            position: relative;

            &::before {
               position: absolute;
               content: '';
               background-color: var(--color-atomic_tangerine);
               height: 0.1575rem;
               width: 3rem;
               top: 2.25rem;
               left: 50%;
               transform: translateX(-50%);
            }
         }

         @include mobile_l {
            font-size: 2.75rem;
            margin-bottom: var(--meas-twenty);
            position: relative;

            &::before {
               position: absolute;
               content: '';
               background-color: var(--color-atomic_tangerine);
               height: 0.1575rem;
               width: 4.5rem;
               top: 3rem;
               left: 50%;
               transform: translateX(-50%);
            }
         }
      }

      .subheader__text {
         @include poppins(
            $color: var(--color-white),
            $lineHeight: 1.5rem,
            $fontSize: var(--fsize-sixteen),
            $fontWeight: 400
         );

         width: 34rem;

         @include mobile_s {
            width: 100%;
            text-align: center;
            font-size: 0.75rem;
            line-height: 1.125rem;
         }

         @include mobile_m {
            width: 100%;
            text-align: center;
            font-size: var(--fsize-sixteen);
            line-height: 1.5rem;
         }

         @include mobile_l {
            width: 100%;
            text-align: center;
         }

         .dtl {
            font-size: var(--fsize-thirdy-two);
            color: var(--color-atomic_tangerine);

            @include mobile_s {
               font-size: 1.5rem;
               line-height: 2.25rem;
            }

            @include mobile_m {
               font-size: 1.5rem;
               line-height: 2.25rem;
            }

            @include mobile_l {
               font-size: 1.5rem;
               line-height: 2.25rem;
            }
         }
      }
   }

   .subheader__btn {
      width: fit-content;
      height: fit-content;
      display: block;
      border: 1px solid var(--color-topaz);
      padding: var(--meas-eight) var(--meas-sixteen);
      border-radius: 3.25rem;
      margin-left: 5rem;
      margin-top: var(--meas-sixteen);
      transition: all 0.5s ease;

      @include comfortaa(
         $color: var(--color-topaz),
         $font-size: var(--fsize-sixteen),
         $font-weight: 400
      );

      &:hover {
         background-color: var(--color-sinopia);
         border-color: var(--color-sinopia);
      }

      @include mobile_s {
         margin-left: 0;
      }

      @include mobile_m {
         margin-left: 0;
      }

      @include mobile_l {
         margin-left: 0;
      }
   }
}
