.formation {
  background: $chinese_black;
  height: auto;
  padding: 50px 0;

  .__wrap {
    display: flex;
    justify-content: space-between;

    .title {
      position: relative;

      h1 {
        color: $raisin_black;
        font-size: 200px;
        line-height: 220px;
        position: relative;
        z-index: 2;
      }

      span {
        color: $selective_yellow;
        font-size: 220px;
        font-weight: 700;

        &:nth-of-type(1) {
          position: absolute;
          top: 20px;
          z-index: 0;
          right: 400px;
        }

        &:nth-of-type(2) {
          position: absolute;
          bottom: 130px;
          z-index: 0;
          left: 370px;
        }
      }
    }

    .content {
      margin-right: 70px;

      .title {
        text-transform: uppercase;
        color: $quick_silver;
        font-family: "Fire Sans", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
      }

      .box .graduation,
      .courses,
      .language {
        display: flex;
        flex-direction: column;
        color: $white;
      }

      .box {
        position: relative;
        &::before {
          content: url("../../../images/graduation.svg");
          position: absolute;
          right: 310px;
          top: 20px;
        }

        .graduation {
          border: 2px solid $quick_silver;
          border-radius: 10px;
          padding: 20px 30px;

          span {
            &:nth-of-type(2) {
              width: 230px;
              margin-block: 10px;
              font-weight: 700;
            }
            &:last-child {
              color: $quick_silver;
              font-weight: 700;
              font-family: "Fire Sans", sans-serif;
            }
          }
        }
      }

      .courses {
        margin-block: 70px;
        position: relative;
        gap: 10px;

        &::before {
          content: url("../../../images/course.svg");
          position: absolute;
          right: 310px;
        }

        .c {
          span {
            &:last-child {
              color: $quick_silver;
            }
          }
        }
      }

      .language {
        position: relative;
        gap: 10px;

        &::before {
          content: url("../../../images/lang.svg");
          right: 310px;
          position: absolute;
        }

        .idioma {
          span {
            color: $quick_silver;

            &:first-child {
              color: $white;
            }
          }
        }
      }
    }
  }
}
