.menu__hamburger {
   width: 3rem;
   height: var(--meas-twenty);
   position: relative;
   display: none;

   @include mobile_s {
      display: block;
   }

   @include mobile_m {
      display: block;
   }

   @include mobile_l {
      display: block;
   }

   .menu__slice {
      width: 100%;
      height: var(--meas-four);
      background-color: var(--color-atomic_tangerine);
      border-radius: var(--meas-four);

      &::before {
         content: '';
         background-color: var(--color-atomic_tangerine);
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         height: var(--meas-four);
         width: 100%;
         border-radius: var(--meas-four);
      }

      &::after {
         content: '';
         background-color: var(--color-atomic_tangerine);
         position: absolute;
         bottom: 0;
         height: var(--meas-four);
         width: 100%;
         border-radius: var(--meas-four);
      }

      &.is--active__menu {
         transform: rotate(45deg);
         position: fixed;
         background: var(--color-sinopia);
         z-index: 50;
         width: 50px;

         &::before {
            background: transparent;
         }

         &::after {
            transform: rotate(90deg);
            background: var(--color-sinopia);
         }
      }
   }
}
