.menu-hamburger {
   width: 3rem;
   height: 1.25rem;
   position: relative;
   display: none;

   @include mobile_s {
      display: block;
   }

   @include mobile_m {
      display: block;
   }

   @include mobile_l {
      display: block;
   }

   .slice {
      width: 100%;
      height: 0.25rem;
      background-color: $color_title_prim;
      border-radius: 0.25rem;

      &::before {
         content: '';
         background-color: $color_title_prim;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         height: 0.25rem;
         width: 100%;
         border-radius: 0.25rem;
      }

      &::after {
         content: '';
         background-color: $color_title_prim;
         position: absolute;
         bottom: 0;
         height: 0.25rem;
         width: 100%;
         border-radius: 0.25rem;
      }

      &.__active-menu {
         transform: rotate(45deg);
         position: absolute;
         top: 50%;
         background: $color_hover_prim;

         &::before {
            background: transparent;
         }

         &::after {
            transform: rotate(90deg);
            background: $color_hover_prim;
         }
      }
   }
}
