.skill__card {
   width: 10rem;
   height: 10rem;
   border-radius: 0.3125rem;
   border: 0.0625rem solid var(--color-dark_gunmetal);

   &:nth-child(1) {
      background: url('../../../images/webp/sass.webp') no-repeat center;
      background-size: 100% 100%;
   }

   &:nth-child(2) {
      background: url('../../../images/webp/javascript.webp') no-repeat center;
      background-size: 100% 100%;

      @include mobile_m {
         background-size: cover;
      }
   }

   &:nth-child(3) {
      background: url('../../../images/webp/figma.webp') no-repeat center;
      background-size: cover;
   }

   @include mobile_s {
      width: 7.5rem;
      height: 7.5rem;
   }

   @include mobile_m {
      width: 7.5rem;
      height: 7.5rem;
   }

   @include mobile_l {
      width: 7.5rem;
      height: 7.5rem;
   }
}
