section.contact-section
   .__width-1200
      .box-title
         .detail
         h2.title Contato
         .detail

      .contacts
         a(href="https://www.linkedin.com/in/alves-phga/", target="_blank").contact
            include ../../../images/svg/linkedin-contact-desk.svg
            span linkedin
            
         a(href="http://api.whatsapp.com/send?phone=5511987799731", target="_blank").contact
            include ../../../images/svg/whatsapp-contact-desk.svg
            span (11) 98779-9731
            
         a(href="mailto:alvesphga.dev@gmail.com", target="_blank").contact
            include ../../../images/svg/email-contact-desk.svg
            span alvesphga.dev@gmail.com
            
   .border-detail