section.contact-section
   .__width-1200
      .box-title
         .detail
         h2.title Contato
         .detail

      .contacts
         a(href="http://", target="_blank").contact
            include ../../../images/svg/linkedin-contact-desk.svg
            span linkedin
            
         a(href="http://", target="_blank").contact
            include ../../../images/svg/whatsapp-contact-desk.svg
            span (11) 98779-9731
            
         a(href="http://", target="_blank").contact
            include ../../../images/svg/email-contact-desk.svg
            span example@email.com
            
   .border-detail