section#projects.projects
   .__width-1200
      h2.projects__title(data-scroll='title') Projetos

      .front__end
         h3.sub__title(data-scroll='title') Front end

         .cards
            #motor.card__item(data-scroll='card' data-modal="motorRace")
               .card__img: img(src="./assets/images/webp/motorRace.webp", alt="")
               .card__title
                  span Motor Race

            .card__detail

            #todo.card__item(data-scroll='card' data-modal="todo_app")
               .card__img: img(src="./assets/images/webp/todo.webp", alt="")
               .card__title
                  span TODO

         .border-detail

      .ui__design
         h3.sub__title(data-scroll='title') UI Design

         .cards
            a(href="https://www.figma.com/community/file/1109469419158989381", target="_blank").card__item(data-scroll='card')
               .card__img: img(src="./assets/images/webp/layoutCiaPhotography.webp", alt="")
               .card__title
                  span Cia Photography

            a(href="https://www.figma.com/community/file/1129117355225362681", target="_blank").card__item(data-scroll='card')
               .card__img: img(src="./assets/images/webp/layoutMotorRace.webp", alt="")
               .card__title
                  span Motor Race

            a(href="https://www.figma.com/community/file/1167430365373386084", target="_blank").card__item(data-scroll='card')
               .card__img: img(src="./assets/images/webp/layoutPortfolio.webp", alt="")
               .card__title
                  span LP Portfolio