section.projects-section
   .__width-1200
      h2 Projetos

      .box-front-end
         h3 Front end

         .box-card
            .card
            .card
            .card
            .card

      .box-ui-design
         h3 UI Design

         .box-card
            .card
            .card
            .card
            .card