section.projects-section
   .__width-1200
      h2.title Projetos

      .box-front-end
         h3.sub-title Front end

         .box-card
            .card
            .card
            .card
            .card

         .border-detail

      .box-ui-design
         h3.sub-title UI Design

         .box-card
            .card
            .card
            .card
            .card