section#projects.projects
   .__width-1200
      h2.projects__title(data-scroll='title') Projetos

      .front__end
         h3.sub__title(data-scroll='title') Front end

         .cards
            .card__item(data-scroll='card')
               .card__img: img(src="./assets/images/webp/motorRace.webp", alt="")
               .card__title
                  span Motor Race

            .card__detail

            .card__item(data-scroll='card')
               .card__img: img(src="./assets/images/webp/todo.webp", alt="")
               .card__title
                  span TODO

         .border-detail

      .ui__design
         h3.sub__title(data-scroll='title') UI Design

         .cards
            .card__item(data-scroll='card')
               .card__img: img(src="./assets/images/webp/layoutCiaPhotography.webp", alt="")
               .card__title
                  span Cia Photography

            .card__item(data-scroll='card')
               .card__img: img(src="./assets/images/webp/layoutMotorRace.webp", alt="")
               .card__title
                  span Motor Race

            .card__item(data-scroll='card')
               .card__img: img(src="./assets/images/webp/layoutPortfolio.webp", alt="")
               .card__title
                  span LP Portfolio