section.projects-section
   .__width-1200
      h2.title(data-scroll='title') Projetos

      .box-front-end
         h3.sub-title Front end

         .box-card
            .card: img(src="./assets/images/webp/motorRace.webp", alt="")
            .card: img(src="./assets/images/webp/todo.webp", alt="")

         .border-detail

      .box-ui-design
         h3.sub-title UI Design

         .box-card
            .card: img(src="./assets/images/webp/layoutCiaPhotography.webp", alt="")
            .card: img(src="./assets/images/webp/layoutMotorRace.webp", alt="")
            .card: img(src="./assets/images/webp/layoutPortfolio.webp", alt="")