section.skills-section
   .back-section
   .__width-1200
      .box-title
         .detail
         h2.title(data-scroll='title') Skills
         .detail

   .box-skills
      .skills
         .card
         .card
         .card
         .card
         .card