section.skills-section
   .back-section
   .__width-1200
      .box-title
         .detail
         h2.title Skills
         .detail

      .box-skills
         .card
         .card
         .card
         .card
         .card