section.skills__section
   .skills__back
   .__width-1200
      .skills__title
         .detail
         h2.title(data-scroll='title') Skills
         .detail

   .box__skills
      .skills
         .skill__card(data-scroll='card')
         .skill__card(data-scroll='card')
         .skill__card(data-scroll='card')
         .skill__card(data-scroll='card')