section#about-me.subheader
   .__width-1200
      article.subheader__description
         h1.subheader__title Sobre mim
         p.subheader__text #[span.dtl Olá,] #[br] sou Pedro Henrique, formado em Gestão da Tecnologia da Informação pela Fatec Itu, sou desenvolvedor Front End a pouco tempo e também estou começando a me aventurar na área de UI Design, mas focado em layout web. Tive uma breve passagem na Agência Gênia como desenvolvedor web, onde desenvolvia sites e landing pages do zero e também realizava algumas manutenções em sites que estavam no ar, então a minha experiência foi por lá.

      a(href="https://docs.google.com/document/d/1a0L-AjU4sp8h1gk61-JG-XVlA1wkbqtPyZJv5-wZ5S4/edit?usp=sharing", target="_blank").subheader__btn Download CV

   .border-detail