section.work-section
   .__width-1200
      .box-title
         .detail
         h2.title O que faço
         .detail

      .box-works
         .work
            .card.front-end: img( src = "./assets/images/webp/front-end.webp", alt = "")
            p.text-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget fermentum diam. Vestibulum interdum pharetra orci ut lacinia. Donec efficitur dictum pharetra. Vestibulum id semper turpis.

         .line

         .work
            .card.ui-design: img( src = "./assets/images/webp/ui-design.webp", alt = "")
            p.text-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget fermentum diam. Vestibulum interdum pharetra orci ut lacinia. Donec efficitur dictum pharetra. Vestibulum id semper turpis.