section#works.work
   .__width-1200
      .work__title
         .detail
         h2.title(data-scroll='title') O que faço
         .detail

      .works__box
         .work__card(data-scroll='card')
            .work__item.front-end: img( src = "./assets/images/webp/front-end.webp", alt = "")
            p.work__text Desenvolvimento de landig pages, tanto para desktop como para mobile.

         .line

         .work__card(data-scroll='card')
            .work__item.ui-design: img( src = "./assets/images/webp/ui-design.webp", alt = "")
            p.work__text Desenvolvimento de layout para sites e landig pages, tanto para desktop como para mobile.