section.work-section
   .__width-1200
      .box-title
         .detail
         h2.title O que faço
         .detail

      .box-works
         .work
            .card
            p.text-content
         
         .work
            .card
            p.text-content