section.work-section
   .__width-1200
      .box-title(data-scroll='title')
         .detail
         h2.title O que faço
         .detail

      .box-works
         .work
            .card.front-end: img( src = "./assets/images/webp/front-end.webp", alt = "")
            p.text-content Desenvolvimento de landig pages, tanto para desktop como para mobile.

         .line

         .work
            .card.ui-design: img( src = "./assets/images/webp/ui-design.webp", alt = "")
            p.text-content Desenvolvimento de layout para sites e landig pages, tanto para desktop como para mobile.