footer {
  background: $chinese_black;
  padding: 0px 0 50px;
  color: $granite_gray;
  font-size: 14px;

  .__wrap {
    border-top: 1px solid $raisin_black;
    padding-top: 50px;
    text-align: center;
  }
}
