header.header
   .__width-1200
      .img-header: include ../../../images/svg/logo.svg

      .menu
         .link-nav
            a(href="") Sobre mim
            a(href="") O que faço
            a(href="") Projetos
            a(href="") Contato

         .social-media
            .social: include ../../../images/svg/linkedin.svg
            .social: include ../../../images/svg/whatsapp.svg