header.header
   .__width-1200
      .img-header: include ../../../images/svg/logo.svg

      .menu
         .link-nav
            a(href="") Sobre mim
            a(href="") O que faço
            a(href="") Projetos
            a(href="") Contato

         .social-media
            a(href="https://www.linkedin.com/in/alves-phga/" target="_blank").social: include ../../../images/svg/linkedin.svg
            a(href="http://api.whatsapp.com/send?phone=5511987799731" target="_blank").social: include ../../../images/svg/whatsapp.svg