header.header
   .__width-1200
      .img-header: include ../../../images/svg/logo.svg

      .menu-hamburger: .slice
      .menu
         .link-nav
            a(href="" data-smooth='about-me') Sobre mim
            a(href="" data-smooth='works') O que faço
            a(href="" data-smooth='projects') Projetos
            a(href="" data-smooth='contact') Contato

         .social-media
            a(href="https://www.linkedin.com/in/alves-phga/" target="_blank").social: include ../../../images/svg/linkedin.svg
            a(href="http://api.whatsapp.com/send?phone=5511987799731" target="_blank").social: include ../../../images/svg/whatsapp.svg