header.header
   .__width-1200
      .header__logo: include ../../../images/svg/logo.svg

      .menu__hamburger: .menu__slice
      .menu
         .menu__nav
            a(href="" data-smooth='about-me') Sobre mim
            a(href="" data-smooth='works') O que faço
            a(href="" data-smooth='projects') Projetos
            a(href="" data-smooth='contact') Contato

         .menu__social__media
            a(href="https://www.linkedin.com/in/alves-phga/" target="_blank").social__media__link: include ../../../images/svg/linkedin.svg
            a(href="http://api.whatsapp.com/send?phone=5511987799731" target="_blank").social__media__link: include ../../../images/svg/whatsapp.svg