section.modal
   .modal-box
      .close-modal: include ../../../images/svg/close-modal.svg
      .modal-content
         .modal-proj: img(src="./assets/images/webp/motorRace.webp", alt="")
         .modal-links
            a(href="").link GitHub
            .separator
            a(href="").link Link site