section.modal
   .modal__box
      .modal__close: span X
      .modal__content
         .modal__image
         .modal__links
            a(href="http://", target="_blank",).modal__link GitHub
            .modal__separator
            a(href="http://", target="_blank",).modal__link Link Site