.footer {
   background: var(--color-dark_gunmetal);
   padding: 5rem 0;
   text-align: center;

   @include mobile_s {
      padding: var(--meas-thirty-two) 0;
   }

   @include mobile_m {
      padding: var(--meas-thirty-two) 0;
   }

   @include mobile_l {
      padding: var(--meas-twenty) 0;
   }

   &__img {
      width: fit-content;
      margin: 0 auto;
      svg {
         width: 18.75rem;

         @include mobile_s {
            width: 100%;
         }

         @include mobile_m {
            width: 80%;
         }

         @include mobile_l {
            width: 70%;
         }
      }

      @include mobile_s {
         width: 100%;
      }

      @include mobile_m {
         width: 100%;
      }

      @include mobile_l {
         width: 100%;
      }
   }

   span {
      @include poppins(
         $color: var(--color-onix),
         $lineHeight: normal,
         $fontSize: var(--fsize-twenty-four),
         $fontWeight: 400
      );
      text-align: center;

      @include mobile_s {
         font-size: 0.75rem;
      }

      @include mobile_m {
         font-size: 0.75rem;
      }

      @include mobile_l {
         font-size: 0.75rem;
      }
   }
}
