.header {
   padding: 1.25rem 0;
   background: transparent;
   border-bottom: 2px solid $color_link_icon_nav;
   position: relative;
   z-index: 1;

   @include mobile_s {
      height: 120px;
   }

   @include mobile_m {
      height: 120px;
   }

   @include mobile_l {
      height: 120px;
   }

   .__width-1200 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .img-header {
         svg {
            width: 18.75rem;
         }
      }

      .menu {
         display: flex;
         align-items: center;

         @include mobile_s {
            display: none;
         }

         @include mobile_m {
            display: none;
         }

         @include mobile_l {
            display: none;
         }

         .link-nav {
            a {
               @include comfortaa(
                  $color: $color_link_icon_nav,
                  $font-size: 1.5rem,
                  $font-weight: 400
               );
               text-transform: uppercase;
               margin-right: 1.25rem;
               position: relative;

               &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  width: 100%;
                  top: 1.625rem;
                  border-bottom: 0.5rem dotted $color_hover_prim;
                  opacity: 0;
                  transition: all 0.5s ease;
               }

               &:hover {
                  color: $color_hover_prim;

                  &::before {
                     opacity: 1;
                  }
               }
            }
         }

         .social-media {
            display: flex;
            gap: 1.25rem;
            margin-left: 1.25rem;

            .social {
               transition: all 0.5s ease;

               &:hover {
                  transform: scale(1.1);

                  svg {
                     path {
                        fill: $color_hover_prim;
                     }
                  }
               }
            }
         }
      }
   }
}
