* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  h1,
  h2 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
  }
  p,
  span {
    font-size: 18px;
    line-height: 27px;
    font-family: "Roboto Mono", monospace;
  }
  a {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
  }

  main {
    padding: 100px 0 0;
  }
}
